---
import background from "../assets/bg1.png";
import logo from "../assets/purro-logo.png";
import icon from "../assets/purro-icon.png";
import chrome from "../assets/chrome.png";
import xIcon from "../assets/xIcon.svg";
import discordIcon from "../assets/discordIcon.svg";
import telegramIcon from "../assets/teleIcon.svg";

const socials = [
  {
    icon: xIcon.src,
    url: "https://x.com/purro_xyz",
  },
  {
    icon: discordIcon.src,
    url: "https://discord.gg/purro",
  },
  {
    icon: telegramIcon.src,
    url: "https://t.me/purro_xyz",
  },
];
---

<div class="w-full h-screen overflow-hidden relative">
  <div class="w-full h-full bg-[#081919] z-[-2] absolute top-0 left-0"></div>

  <img
    src={background.src}
    alt="background"
    class="absolute w-full h-full object-cover z-[-1]"
    fetchpriority="high"
  />
  <header
    class="fixed top-0 left-1/2 max-w-6xl transform -translate-x-1/2 w-full container mx-auto mt-6 px-2"
  >
    <div
      class="p-3 flex justify-between items-center bg-[#b1cac4]/30 rounded-full"
    >
      <img src={logo.src} alt="logo" class="h-7 ml-3" />
      <div class="flex items-center gap-2">
        <div class="flex items-center">
          {
            socials.map((social) => (
              <a
                href={social.url}
                target="_blank"
                class="hover:bg-white/10 p-2 rounded-full transition-all duration-300"
              >
                <img src={social.icon} alt={social.icon} class="h-6" />
              </a>
            ))
          }
        </div>

        <button
          class="bg-[#02f1dc] rounded-full px-4 py-2 cursor-pointer hover:bg-[#02f1dc]/80 transition-all duration-300"
        >
          Download
        </button>
      </div>
    </div>
  </header>

  <div class="container mx-auto">
    <div class="flex flex-col items-center justify-center h-screen">
      <div class="mb-10">
        <div class="flex items-center justify-center gap-2">
          <h1
            class="text-[100px] md:text-[200px] font-bold text-[#02f1dc] leading-0 font-livvic"
          >
            Purr
          </h1>
          <img
            src={icon.src}
            alt="logo"
            class="h-24 md:h-48 transform rotate-12"
          />
        </div>
        <p class="text-white text-center text-2xl md:text-5xl font-medium">
          Built to chill - Ready to win
        </p>
      </div>

      <div class="absolute bottom-12 flex flex-col items-center">
        <button
          class="bg-[#f2f2f2] rounded-full p-3 cursor-pointer hover:bg-[#02f1dc]/80 transition-all duration-300 flex items-center gap-2"
        >
          <img src={chrome.src} alt="chrome" class="h-10" />
          <span>Download for Chrome</span>
        </button>
        <p
          class="text-center text-sm md:text-md font-light mt-4 text-[#b1cac4]"
        >
          Built for real onchain grinders: smooth UX, unified assets. <br /> 40%
          fees come back to you.
        </p>
      </div>
    </div>
  </div>
</div>
